<div class="product-details row-fluid">
    <div class="span6">
        <a href="<%- getUrl(post.attachments[0]) %>" rel="zoom">
            <img src="<%- getUrl(post.attachments[0], '640x0') %>" class="span12"  />
        </a>
    </div>
    <div class="offset6">
        <div class="product-text">
            <p>
                <%- post.text %>
            </p>
        </div>
    </div>
</div>

<style>
    .product-details
    {
        margin-bottom: 60px;
    }

    .product-text
    {
        margin-top : 70px;
    }
</style>
