<div class="product-details row-fluid">
    <div class="span6">
        <a href="<%- getUrl(post.attachments[0]) %>" rel="zoom">
            <img src="<%- getUrl(post.attachments[0], '640x0') %>" class="span12"  />
        </a>
    </div>
    <div class="offset6">
        <div class="product-text">
            <p>
                <%- post.text %>
            </p>
        </div>
    </div>
</div>

<style>
    .product-details
    {
        margin-bottom: 60px;
        padding: 12px;
    }

    .product-text
    {
        margin-top : 70px;
        padding: 12px;
    }

    .product-details img
    {

    }

    .fullscreen
    {
        width: 100%;
        height: 100%;
        position : fixed;
        margin: 0;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        background-color: #000;

        display: none;
    }
</style>

<div class="fullscreen" style="background-image: url(<%- getUrl(post.attachments[0]) %>)">
</div>

<script>
    $('a[rel=zoom]').on('click', function () {
        $('.fullscreen').show();
        return false;
    });

    $('.fullscreen').on('click', function () {
        $('.fullscreen').hide();
        return false;
    });

    $('.fullscreen').on('mousemove', function (e) {
        var x = e.clientX / 1.5;
        var y = e.clientY * 1.5;

        console.log(x + ' ' + y)

        $('.fullscreen').css('background-position', -x + 'px ' + -y + 'px');
    });
</script>
