<div class="product" style="<%- post.height && ('height: ' + post.height + 'px; overflow: hidden;') %>">
    <a href="//<%- post.url %>">
        <img src="<%- getUrl(post.allowDifferentSizes && post.attachments[1] || post.attachments[0], '640x0') %>" />
    </a>
</div>
