<div class="product-list-holder-<%- displayMode %>">
    <div class="product-list row-fluid">
        <% for(var i=0; i<cols; i++) { %>
            <div class="span<%- 12/cols %>">
                <% posts.forEach(function (post, j) { %>
                    <% if((i-j) % cols !== 0) { return; } %>
                    <% post.allowDifferentSizes = allowDifferentSizes; %>
                    <%- renderContent(post, displayMode) %>
                <% }) %>
            </div>
        <% } %>
    </div>

    <% if (posts.length === 0) { %>
        <p>
            No products to display
        </p>
    <% } %>
</div>

<style>
    .product-list-holder-view
    {
        padding : 7px 20px 20px;
        margin : 0 -5px -5px;
    }

    .product-list-holder-featured .product-details
    {
        margin-bottom: 1px;
    }

    .product-list-holder-featured
    {
        margin: 0;
        padding: 0 15px;
        background: #000;
    }

    .product-list-holder-view .product
    {
        margin: 5px 5px 10px 5px;
    }

    .product-list-holder-view .product img
    {
        width: 100%;
    }
</style>
